<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bluepop"
        android:label="Blue Pop"
        android:roundIcon="@drawable/bluepop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".Model.MyUploadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Model.MyDownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Model.MyBaseTaskService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UI.PaymentActivity"
            android:label="Razorpay Sample App"
            >

        </activity>
        <activity android:name=".UI.DesActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.ViewCustomersActivity" />
        <activity android:name=".UI.ViewOrdersActivity" />
        <activity android:name=".UI.ViewProductActivity" />
        <activity android:name=".UI.AddProductActivity" />
        <activity android:name=".UI.AdminActivity" />
        <activity android:name=".MainActivity" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb"
            />

    </application>

</manifest>